@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  /* Artifakt Element */
  @font-face {
    font-family: "Artifakt Element";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
      url("../../public/fonts/artifakt-element-light.woff2") format("woff2"),
      url("../../public/fonts/artifakt-element-light.woff") format("woff"),
      url("../../public/fonts/artifakt-element-light.ttf") format("truetype");
  }

  @font-face {
    font-family: "Artifakt Element";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url("../../public/fonts/artifakt-element-regular.woff2") format("woff2"),
      url("../../public/fonts/artifakt-element-regular.woff") format("woff"),
      url("../../public/fonts/artifakt-element-regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Artifakt Element";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
      url("../../public/fonts/artifakt-element-medium.woff2") format("woff2"),
      url("../../public/fonts/artifakt-element-medium.woff") format("woff"),
      url("../../public/fonts/artifakt-element-medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Artifakt Element";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src:
      url("../../public/fonts/artifakt-element-bold.woff2") format("woff2"),
      url("../../public/fonts/artifakt-element-bold.woff") format("woff"),
      url("../../public/fonts/artifakt-element-bold.ttf") format("truetype");
  }

  body {
    @apply bg-[#f9f9f9] font-sans text-[var(--foreground-rgb)];
  }

  /* Typography */
  a {
    @apply text-[16px] font-[700] leading-[1.2];
  }

  span {
    @apply font-[700] leading-[1.2];
  }

  h1,
  .h1 {
    @apply text-[56px] font-[800] leading-[1.2];
  }

  h2 {
    @apply text-[40px] font-[800] leading-[1.2];
  }

  h3 {
    @apply text-[32px] font-[800] leading-[1.2];
  }

  h4 {
    @apply text-[24px] font-[800] leading-[1.2];
  }

  h5 {
    @apply text-[21px] font-[800] leading-[1.2];
  }

  h6,
  .h6 {
    @apply text-[18px] font-[700] leading-[1.2];
  }

  p {
    @apply text-[18px] font-[400] leading-[1.2];
  }

  p.large {
    @apply text-[21px];
  }

  p.small {
    @apply text-[16px];
  }

  @media (max-width: 1024px) {
    p.large {
      @apply text-[18px];
    }

    p.small {
      @apply text-[14px];
    }
  }

  @media (max-width: 595px) {
    h1 {
      @apply text-[32px];
    }
    h2 {
      @apply text-[28px];
    }
    h3 {
      @apply text-[24px];
    }
    h4 {
      @apply text-[21px];
    }
    h5 {
      @apply text-[18px];
    }
    h6 {
      @apply text-[16px];
    }
    p {
      @apply text-[16px];
    }
  }

  @media (min-width: 596px) and (max-width: 991px) {
    h1 {
      @apply text-[40px];
    }
    h2 {
      @apply text-[36px];
    }
    h3 {
      @apply text-[26px];
    }
    h4 {
      @apply text-[22px];
    }
    h5 {
      @apply text-[20px];
    }
    h6 {
      @apply text-[16px];
    }
    p {
      @apply text-[16px];
    }
  }

  /* Sections + Spacing */
  section {
    @apply relative mx-auto my-0 w-full max-w-[1920px];
  }

  .py-standard {
    @apply py-0 pt-[80px];
  }

  .pt-standard {
    @apply pt-[80px];
  }

  .pb-standard {
    @apply pb-[80px];
  }

  .pt-large {
    @apply pt-[160px];
  }

  .py-half {
    @apply py-0 pt-[40px];
  }

  .pt-half {
    @apply pt-[40px];
  }

  .pb-half {
    @apply pb-[40px];
  }

  @media (max-width: 767px) {
    section.pt-standard {
      @apply pt-[40px];
    }

    section.pb-standard {
      @apply pb-[40px];
    }

    .pt-standard {
      @apply pt-[40px];
    }

    .pb-standard {
      @apply pb-[40px];
    }

    .py-standard {
      @apply py-0 pt-[40px];
    }
  }

  @media (min-width: 768px) and (max-width: 1280px) {
    section.pt-standard {
      @apply pt-[60px];
    }

    section.pb-standard {
      @apply pb-[60px];
    }

    .pt-standard {
      @apply pt-[60px];
    }

    .pb-standard {
      @apply pb-[60px];
    }

    .py-standard {
      @apply py-0 pt-[60px];
    }
  }

  /* Empty Link */
  .empty-link {
    @apply absolute left-0 top-0 h-full w-full;
  }

  /* Btn Wrap */
  .btn-wrap {
    @apply flex flex-wrap gap-x-[20px] gap-y-[15px];
  }

  @media (max-width: 767px) {
    .btn-wrap a {
      width: fit-content;
    }
  }
}

@layer components {
  /* Container */
  .container {
    @apply max-w-[1264px];
  }

  /* Markdown */
  .markdown img {
    @apply mr-[16px] inline-block;
  }

  /* PromoBar */
  .promo-btn .btn-primary-white:hover {
    @apply bg-white/[0.8] text-black;
  }

  .promo-btn .underline-link-white:hover {
    @apply text-white/[0.8] duration-300;
  }

  .promo-btn .underline-link-white:hover::after {
    @apply bg-white;
  }
  .promo-btn .underline-link-white:hover svg .cls-3 {
    @apply !stroke-black/[0.8];
  }

  .promo-btn .btn-primary-white:hover svg .cls-2 {
    @apply stroke-black;
  }

  /* Quote Module */
  .QuoteModule .swiper-button-next,
  .QuoteModule .swiper-button-prev {
    @apply hidden;
  }

  /* Footer */
  .footer .col-policy a,
  .footer .col-policy span {
    @apply ml-[10px] pl-[10px] text-[14px];
  }

  .footer .col-policy a::after,
  .footer .col-policy span::after {
    @apply absolute left-0 top-[50%] h-[82%] w-[1px] translate-y-[-50%] bg-[#b1b1b1] content-[""];
  }

  .footer .col-policy a:first-child {
    @apply ml-[0] pl-[0] after:w-0;
  }

  /* Privacy Settings */
  #adsk-eprivacy-privacy-settings-footer-container {
    @apply hidden;
  }
}
a.button {
  text-decoration: auto;
}
