@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; 
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.container{
  position: relative;
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}
section{
  padding: 70px 0;
}
.emptyLink{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
h1{
  font-size: 88px;
  letter-spacing: 1.5px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.5px;
}
h2{
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.5px;
}
h3{
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.5px;
}
h4{
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.5px;
}
h5{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.4px;
}
h6{
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.4px;
}
@media (max-width: 1600px) and (min-width: 1201px) {
  h1{
    font-size: 80px;
  }
  h3{
    font-size: 40px;
  }
}
@media (max-width: 1200px) and (min-width: 769px) {
  h1{
    font-size: 64px;
  }
  h2{
    font-size: 48px;
  }
  h3{
    font-size: 32px;
  }
  section{
    padding: 56px 0;
  }
}
@media (max-width: 768px) and (min-width: 321px) {
  h1{
    font-size: 56px;
  }
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 24px;
  }
  section{
    padding: 32px 0;
  }
}
@media (max-width: 320px){
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 32px;
  }
  h3{
    font-size: 24px;
  }
  section{
    padding: 20px 0;
  }
}


.btn_transparent{
  border-color: brown;
}
.header .plus-icon{
  position: relative;
  
}
.header .plus-icon::after{
  content: " ";
  position: absolute;
  top: 19px;
  right: 16px;
  width: 20px;
  background-size: contain;
  width: 20px;
  height: 20px;
  background-image: url('../../public/header/plus-circle.svg');
}
.header .minus-icon{
  position: relative;
}
.header .minus-icon::after{
  content: " ";
  position: absolute;
  top: 19px;
  right: 16px;
  width: 20px;
  background-size: contain;
  width: 20px;
  height: 20px;
  background-image: url('../../public/header/minus-circle.svg');
}
.img-text-tab .links > .sidesBorder{
  position: relative;
  width: 100%;
}
@media (max-width: 991px) and (min-width: 767px){
.img-text-tab .sidesBorder{
  width: calc(100% - 20px);
}
}
@media (max-width: 768px) {
  .img-text-tab .sidesBorder .sidesBorder{
    height: 0;
  }
  .img-text-tab .sidesBorder .sidesBorder.absolute{
    height: fit-content;
    border-top: 1px solid #666666;
  }
  .img-text-tab .links > .sidesBorder{
    max-width: 480px;
    width: auto;

  }
  .active-link{
    display: none;
  }
}
@media (min-width: 768px) {
  .img-text-tab .sideBorder{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    border-bottom-left-radius: 22px;
    border: 2.5px solid white;
    border-top: none;
    border-right: none;
  } 
  .img-text-tab .sideBorder::after{
    content: "";
    position: absolute;
    left: -2.2px;
    top: -3px;
    width: 1px;
    height: 5px;
    border-radius: 11px;
    border-left: 2.5px solid transparent;
    border-left: 2.5px solid white;
    /* transition: border-left 0.2s ease-in-out; */
  }
  .img-text-tab .moveBorder{
    position: absolute;
    left: 0; 
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 20px;
    border: 2.5px solid #FF3B84;
    border-top: none;
    border-right: none;
    transition: left 0.3s ease; 
  }
  .img-text-tab .moveBorder.show::after{
    content: "";
    position: absolute;
    left: -2.3px;
    top: -2px;
    width: 1px;
    height: 3px;
    border-radius: 11px;
    border-left: 2.5px solid transparent;
    border-left: 2.5px solid #FF3B84;
    /* transition: border-left 0.2s ease-in-out; */
  }
}
