.imgTextTab{
    position: relative;
    z-index: 10;
    .logoWrap{
        max-width: 220px;
        width: 100%;
        height: 40px;
    }
    .logo{
        object-fit: contain;
        width: 100%;
        height: 100%;
        @media (max-width: 767px) {
            max-width: 178px;
            max-height: 30px;
        }
    }
    .tab-content{
        .imgWrap{
            @media (max-width: 767px) {
                   max-width: 300px;
                   width: 100%;
            }
        }
    }
    .imgWithCount{
        height: 400px;
        .image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .counter{
        height: calc(100% - 400px);
    }
    .rotateArrow{
        .forPhone {
            &::after{
                transform: rotate(134deg);
                top: 47%;
            }
        }
    }
    .forPhone{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: 41%;
            right: 25px;
            width: 10px;
            height: 10px;
            border-left: 2px solid black;
            border-bottom: 2px solid black;
            transform: rotate(316deg);
        }
    }
}
